<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" th:href="@{/}">Home</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-link active"  aria-current="page" th:href="@{/department}">Department</a>
			  <a class="nav-link active"  aria-current="page" th:href="@{/logout}">Logout</a>
			</div>
		  </div>
		</div>
	  </nav>

	<br>
	<br>
	<div class="container">
		<hr>
		<form class="row g-3 needs-validation" novalidate action="#" th:action="@{/registration}" th:object="${user}" method="POST">
			<div class ="col-md-4">
			  <label for="validationCustom01" class="form-label">First name</label>
			  <input type="text" class="form-control" id="validationCustom01" value="Mark" th:field="*{firstName}" required>
			  <div class="valid-feedback">
				
			  </div>
			</div>
			<div class="col-md-12">
			  <label for="validationCustom02" class="form-label">Last name</label>
			  <input type="text" class="form-control col-md-4" id="validationCustom02" value="Otto" th:field="*{lastName}" required>
			  <div class="valid-feedback">
			  </div>
			</div>
			<div class="col-md-12">
				<label for="validationCustom04" class="form-label">Department</label>
				<select class="form-select col-md-4" id="validationCustom04" th:field="*{department}" required>

					<th:block th:each="cat: ${listDepartments}">
                        <option th:text="${cat.department_name}" th:value="${cat.department_id}" />
                    </th:block>
				</select>
				<div class="invalid-feedback">
				  Please select a valid Department.
				</div>
			  </div>
			<div class="col-md-4">
			  <label for="validationCustomUsername" class="form-label">Username</label>
			  <div class="input-group has-validation">
				<input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" th:field="*{email}" required>
				<div class="invalid-feedback">
				  Please choose an Email
				</div>
			  </div>
			</div>
			<div class ="col-md-12">
				<label for="validationCustomPassword" class="form-label">Password</label>
				<input type="text" class="form-control col-md-4" id="validationCustomPassword" value="Mark" th:field="*{password}" required>
				<div class="valid-feedback"> 
				</div>
			  </div>
			<div class="col-12">
			  <button class="btn btn-primary" type="submit">Save</button>
			</div>
		  </form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
	</script>
</body>
</html>